/*.hgignore
*.suo
/*.5.0.ReSharper.user
/_ReSharper*/
*.xss
*.xsc
bin/*

*/obj/
/Mockup.bmml
/DifferenceEngine.png
/*.lnk.bmml
/.idea
diffa*.iml
*.iml
/setup/*.tar.gz
/setup/protobuf-*
target/
derby.log
glob:**/bin/
agent/target/*
kernel/target/*
participants/target/*
protocol/target/*
target/*
/*.iws
/*.ipr
/*.7z
/*.tmproj
*/logs/
/logs/
akka.log

.DS_Store
.class

