<div class="content-label section-label">No item selected</div>

<div class="item1 diff-set">
  <div class="upstreamLabel">upstream</div>
  <div class="diff-hash"></div>
  <div class="code-box">
    <img class="busy" src="images/busy.gif"/>
    <pre>&nbsp;</pre>
  </div>
</div>

<div class="item2 diff-set">
  <div class="downstreamLabel">downstream</div>
  <div class="diff-hash"></div>
  <div class="code-box">
    <img class="busy" src="images/busy.gif"/>
    <pre>&nbsp;</pre>
  </div>
</div>

<div class="diffRepair diff-repair">
  <div class="section-label">Repair options</div>
  <div class="action-item controllist"> </div>
  <div class="action-item actionlist"> </div>
  <div class="action-item repairstatus">No repairs in progress</div>
</div>