<div class="content-label section-label">No item selected</div>

<div class="diff-set">
  <div class="item1 item-details">
    <div class="upstreamLabel">upstream</div>
    <div class="diff-hash"></div>
  </div>
  <div class="item2 item-details">
    <div class="downstreamLabel">downstream</div>
    <div class="diff-hash"></div>
  </div>
</div>

<div class="diffRepair diff-repair">
  <div class="section-label">Repair options</div>
  <div class="action-item controllist"> </div>
  <div class="action-item actionlist"> </div>
  <div class="action-item repairstatus">No repairs in progress</div>
</div>