<div class="item1 inspector-panel">
  <div class="upstreamLabel">upstream</div>
  <div class="diff-hash"></div>
  <div class="code-box">
    <img class="busy" src="<%= API_BASE %>/images/busy.gif"/>
    <pre>&nbsp;</pre>
  </div>
</div>
<div class="item2 inspector-panel">
  <div class="downstreamLabel">downstream</div>
  <div class="diff-hash"></div>
  <div class="code-box">
    <img class="busy" src="<%= API_BASE %>/images/busy.gif"/>
    <pre>&nbsp;</pre>
  </div>
</div>