<div class="diffList">

  <div class="difflist-header">
    <div class="date-col">Date</div>
    <div class="time-col">Time</div>
    <div class="pairing-col">Pairing</div>
    <div class="item-id-col">Item ID</div>
    <div class="difference-col">Difference</div>
  </div>

  <div class="difflist-body">
    <div>No items loaded yet...</div>
  </div>

</div>

<hr class="space"/>

<div class="navigation">
  <div class="previous"><a href="#">&lt;-Previous</a></div>
  <div class="pagecount">nn of XX pages</div>
  <div class="next"><a href="#">Next-&gt;</a></div>
</div>
