<div class="heatmap-controls">
  <button class="zoomIn zoomButton">+</button>
  <button class="zoomOut zoomButton">-</button>
</div>

<canvas class="underlay"></canvas>
<canvas class="scale"></canvas>