<h3>Available Pair Actions</h3>

<div class="pair-controls">
  <button class="repair scan-button pair-scan-button">Start Scan</button>
  <button class="repair cancel-button">Cancel Scan</button>
</div>
<div class="pair-repairs control-set">
  <div class="loading">
    <img src="<%= API_BASE %>/images/busy.gif"/>
  </div>
</div>
<div class="pair-reports control-set">
  <div class="loading">
    <img src="<%= API_BASE %>/images/busy.gif"/>
  </div>
</div>
