<!--

    Copyright (C) 2010-2011 LShift Ltd.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


  <!--
    ========================
      Lifecycle Management
    ========================
  -->

  <bean id="notificationCentre" class="net.lshift.diffa.kernel.lifecycle.NotificationCentre" />
  <bean class="net.lshift.diffa.agent.context.AgentLifecycleHelper">
    <constructor-arg ref="notificationCentre" />
  </bean>

  <!--
    ============
      Policies
    ============
  -->
  <bean id="versionPolicyManager" class="net.lshift.diffa.kernel.differencing.VersionPolicyManager"/>

  <bean id="registerSamePolicy" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="versionPolicyManager"/>
    <property name="targetMethod" value="registerPolicy"/>
    <property name="arguments">
      <list>
        <value>same</value>
        <bean class="net.lshift.diffa.kernel.differencing.SameVersionPolicy">
            <constructor-arg ref="versionCorrelationStoreFactory" />
            <constructor-arg ref="differencesManager" />
            <constructor-arg ref="diagnosticsManager" />
          </bean>
      </list>
    </property>
  </bean>

  <bean id="registerCorrelatedPolicy" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="versionPolicyManager"/>
    <property name="targetMethod" value="registerPolicy"/>
    <property name="arguments">
      <list>
        <value>correlated</value>
        <bean class="net.lshift.diffa.kernel.differencing.CorrelatedVersionPolicy">
          <constructor-arg ref="versionCorrelationStoreFactory" />
          <constructor-arg ref="differencesManager" />
          <constructor-arg ref="diagnosticsManager" />
        </bean>
      </list>
    </property>
  </bean>

  <!--
    ============
      Matching
    ============
  -->
  <bean id="matchingManager" class="net.lshift.diffa.kernel.matching.LocalEventMatchingManager" destroy-method="close">
    <constructor-arg ref="systemConfigStore" />
    <constructor-arg ref="domainConfigStore" />
  </bean>

  <!--
    ==============
      Scheduling
    ==============
  -->
  <bean id="scanScheduler" class="net.lshift.diffa.kernel.scheduler.QuartzScanScheduler" destroy-method="close">
    <constructor-arg ref="systemConfigStore" />
    <constructor-arg ref="domainConfigStore" />
    <constructor-arg ref="pairActorSupervisor" />
    <constructor-arg value="DiffaScanScheduler" />
  </bean>

  <!--
    ============
      Sessions
    ============
  -->
  <bean id="differencesManager" class="net.lshift.diffa.kernel.differencing.DefaultDifferencesManager">
    <constructor-arg ref="systemConfigStore" />
    <constructor-arg ref="domainConfigStore" />
    <constructor-arg ref="domainDifferenceStore" />
    <constructor-arg ref="matchingManager" />
    <constructor-arg ref="participantFactory" />
    <constructor-arg ref="notificationCentre" />
    <constructor-arg ref="escalationManager" />
  </bean>
  <bean id="domainDifferenceStore" class="net.lshift.diffa.kernel.differencing.JooqDomainDifferenceStore" depends-on="diffaSessionFactory">
    <constructor-arg ref="jooqDatabaseFacade" />
    <constructor-arg ref="hazelcastCacheProvider" />
    <constructor-arg ref="hazelcastSequenceProvider" />
    <constructor-arg ref="hookManager" />
  </bean>

  <bean id="sweeper" class="net.lshift.diffa.kernel.util.Sweeper" init-method="start" destroy-method="shutdown">
    <constructor-arg value="30" />
    <constructor-arg ref="domainDifferenceStore" />
  </bean>

  <!--
    =============================
      Escalations and Reporting
    =============================
  -->

  <bean id="escalationManager"
        class="net.lshift.diffa.kernel.escalation.EscalationManager"
        init-method="start"
        destroy-method="close">
    <constructor-arg ref="domainConfigStore" />
    <constructor-arg ref="systemConfigStore" />
    <constructor-arg ref="domainDifferenceStore" />
    <constructor-arg ref="actionsFrontend" />
    <constructor-arg ref="reportManager" />
    <constructor-arg ref="actorSystem" />
  </bean>

  <bean id="reportManager" class="net.lshift.diffa.kernel.reporting.ReportManager">
    <constructor-arg ref="domainConfigStore" />
    <constructor-arg ref="domainDifferenceStore" />
    <constructor-arg ref="diagnosticsManager" />
  </bean>

  <!--
    ============
      Notifications
    ============
  -->

  <bean id="notifier" class="net.lshift.diffa.kernel.notifications.EventNotifier">
    <constructor-arg ref="differencesManager" />
    <constructor-arg ref="domainConfigStore" />
    <constructor-arg>
      <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="org.joda.time.Period"/>
        <property name="targetMethod" value="minutes"/>
        <property name="arguments">
          <list>
            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
              <property name="targetObject" ref="systemConfigStore"/>
              <property name="targetMethod" value="systemConfigOptionOrDefault"/>
              <property name="arguments">
                <list>
                  <value>event.notifier.quiet.time</value>
                  <value>240</value>
                </list>
              </property>
            </bean>
          </list>
        </property>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="registerSmtpProvider" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="notifier"/>
    <property name="targetMethod" value="registerProvider"/>
    <property name="arguments">
      <bean class="net.lshift.diffa.agent.notifications.SmtpNotifier">
        <constructor-arg index="0">
          <bean class="org.springframework.jndi.JndiObjectFactoryBean">
            <property name="jndiName" value="java:comp/env/mail/Session"/>
          </bean>
        </constructor-arg>
        <constructor-arg index="1">
          <bean class="org.springframework.jndi.JndiObjectFactoryBean">
            <property name="jndiName" value="java:comp/env/diffaCustomRoot"/>
          </bean>
        </constructor-arg>
        <constructor-arg index="2">
          <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
            <property name="targetObject" ref="systemConfigStore"/>
            <property name="targetMethod" value="systemConfigOptionOrDefault"/>
            <property name="arguments">
              <list>
                <value>diffa.host</value>
                <value>localhost:7654</value>
              </list>
            </property>
          </bean>
        </constructor-arg>
      </bean>
    </property>
  </bean>  

  <!--
    ================
      Participants
    ================
  -->
  <bean id="participantFactory" class="net.lshift.diffa.kernel.participants.ParticipantFactory"/>

  <!--
    ===============================
      Inbound Endpoint Management
    ===============================
  -->

  <bean id="inboundEndpointManager" class="net.lshift.diffa.kernel.participants.InboundEndpointManager">
    <constructor-arg ref="systemConfigStore" />
  </bean>

  <bean id="actorSystem" class="akka.actor.ActorSystem" factory-method="create">
    <constructor-arg value="diffaActorSystem" />
  </bean>
  <!--
    =============
      Supervision
    =============
  -->

  <bean id="pairActorSupervisor" class="net.lshift.diffa.kernel.actors.PairActorSupervisor">
    <constructor-arg ref="versionPolicyManager"/>
    <constructor-arg ref="systemConfigStore"/>
    <constructor-arg ref="domainConfigStore"/>
    <constructor-arg ref="notificationCentre" />
    <constructor-arg ref="differencesManager" />
    <constructor-arg ref="participantFactory"/>
    <constructor-arg ref="versionCorrelationStoreFactory"/>
    <constructor-arg ref="diagnosticsManager" />
    <constructor-arg ref="scanActivityStore" />
    <constructor-arg>
      <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="systemConfigStore"/>
        <property name="targetMethod" value="systemConfigOptionOrDefault"/>
        <property name="arguments">
          <list>
            <value>diffa.change.busy.timeout</value>
            <value>5000</value>
          </list>
        </property>
      </bean>
    </constructor-arg>
    <constructor-arg>
      <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="systemConfigStore"/>
        <property name="targetMethod" value="systemConfigOptionOrDefault"/>
        <property name="arguments">
          <list>
            <value>diffa.change.quiet.timeout</value>
            <value>10000</value>
          </list>
        </property>
      </bean>
    </constructor-arg>
    <constructor-arg>
      <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="systemConfigStore"/>
        <property name="targetMethod" value="systemConfigOptionOrDefault"/>
        <property name="arguments">
          <list>
            <value>diffa.lucene.close.interval</value>
            <value>100</value>
          </list>
        </property>
      </bean>
    </constructor-arg>
    <constructor-arg ref="actorSystem" />
  </bean>

  <!--
    =============
      Frontends
    =============
  -->
  <bean id="configurationFrontend" class="net.lshift.diffa.kernel.frontend.Configuration">
    <constructor-arg ref="domainConfigStore"/>
    <constructor-arg ref="systemConfigStore"/>
    <constructor-arg ref="serviceLimitsStore"/>
    <constructor-arg ref="matchingManager"/>
    <constructor-arg ref="versionCorrelationStoreFactory"/>
    <constructor-arg>
      <list>
        <ref bean="pairActorSupervisor"/>
        <ref bean="escalationManager"/>
      </list>
    </constructor-arg>
    <constructor-arg ref="differencesManager"/>
    <constructor-arg ref="inboundEndpointManager" />
    <constructor-arg ref="scanScheduler" />
    <constructor-arg ref="diagnosticsManager" />
    <constructor-arg ref="pairActorSupervisor" />
  </bean>
  <bean id="systemConfigurationFrontend" class="net.lshift.diffa.kernel.frontend.SystemConfiguration">
    <constructor-arg ref="systemConfigStore"/>
    <constructor-arg ref="serviceLimitsStore"/>
    <constructor-arg ref="differencesManager" />
    <constructor-arg ref="notificationCentre" />
    <constructor-arg ref="configurationFrontend" />
  </bean>
  <bean id="changesFrontend" class="net.lshift.diffa.kernel.frontend.Changes">
    <constructor-arg ref="domainConfigStore"/>
    <constructor-arg ref="pairActorSupervisor"/>
    <constructor-arg ref="matchingManager"/>
    <constructor-arg ref="diagnosticsManager"/>
  </bean>
  <bean id="actionsFrontend" class="net.lshift.diffa.kernel.frontend.wire.ActionsProxy">
    <constructor-arg ref="domainConfigStore"/>
    <constructor-arg ref="systemConfigStore"/>
    <constructor-arg ref="participantFactory" />
    <constructor-arg ref="diagnosticsManager" />
  </bean>

  <!--
    ========
      Data
    ========
  -->
  <bean id="hibernateDialect" class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName" value="java:comp/env/diffaHibernateDialect"/>
  </bean>

  <bean id="jooqDialect" class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName" value="java:comp/env/diffaJooqDialect"/>
  </bean>

  <bean id="hookManager" class="net.lshift.diffa.kernel.hooks.HookManager" >
    <constructor-arg>
      <bean class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/diffaJooqDialect"/>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="jooqDatabaseFacade" class="net.lshift.diffa.schema.jooq.DatabaseFacade">
    <constructor-arg>
      <bean class="org.springframework.jndi.JndiObjectFactoryBean">
            <property name="jndiName" value="java:comp/env/jdbc/diffaDS"/>
      </bean>
    </constructor-arg>
    <constructor-arg ref="jooqDialect"/>
  </bean>

  <!-- Keep the Hibernate session factory around until the migration steps are ported away from Hibernate -->

  <bean id="diffaSessionFactory" class="net.lshift.diffa.agent.util.ListeningLocalSessionFactoryBean" lazy-init="false">
    <property name="dataSource">
      <bean class="org.springframework.jndi.JndiObjectFactoryBean">
            <property name="jndiName" value="java:comp/env/jdbc/diffaDS"/>
      </bean>
    </property>
    <property name="hibernateProperties">
      <bean class="net.lshift.diffa.agent.util.HibernatePropertiesFactory">
        <constructor-arg ref="hibernateDialect"/>
      </bean>
    </property>

    <property name="preparationSteps">
      <list>
        <bean class="net.lshift.diffa.schema.migrations.HibernateConfigStorePreparationStep" />
      </list>
    </property>
  </bean>

  <!--
    ===========
      Caching
    ===========
  -->

  <bean id="hazelcastCacheProvider" class="net.lshift.diffa.kernel.util.cache.HazelcastCacheProvider"></bean>

  <bean id="hazelcastSequenceProvider" class="net.lshift.diffa.kernel.util.sequence.HazelcastSequenceProvider"></bean>

  <!--
    ===========
      Service Limiting
    ===========
  -->
  <bean id="changeEventRateLimiterFactory" class="net.lshift.diffa.kernel.limiting.ServiceLimitsDomainRateLimiterFactory">
      <constructor-arg ref="serviceLimitsStore" />
  </bean>

  <!--
    ===========
      Configuration
    ===========
  -->

  <bean id="underlyingConfigStore" class="net.lshift.diffa.kernel.config.system.JooqSystemConfigStore">
    <constructor-arg ref="jooqDatabaseFacade" />
    <constructor-arg ref="hazelcastCacheProvider" />
  </bean>

  <bean id="domainConfigStore" class="net.lshift.diffa.kernel.config.JooqDomainConfigStore">
    <constructor-arg ref="jooqDatabaseFacade" />
    <constructor-arg ref="hookManager" />
    <constructor-arg ref="hazelcastCacheProvider" />
    <constructor-arg ref="systemConfigStore" />
  </bean>

  <!-- register domain config store as an event listener of the system config store -->
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="underlyingConfigStore" />
    <property name="targetMethod" value="registerDomainEventListener" />
    <property name="arguments">
      <list>
        <ref bean="domainConfigStore"/>
      </list>
    </property>
  </bean>

  <bean id="systemConfigStore" class="net.lshift.diffa.kernel.config.system.CachedSystemConfigStore">
    <constructor-arg ref="underlyingConfigStore" />
    <constructor-arg ref="hazelcastCacheProvider" />
  </bean>

  <bean id="underlyingServiceLimitsStore" class="net.lshift.diffa.kernel.config.JooqServiceLimitsStore">
    <constructor-arg ref="jooqDatabaseFacade" />
  </bean>

  <bean id="serviceLimitsStore" class="net.lshift.diffa.kernel.config.CachedServiceLimitsStore">
    <constructor-arg ref="underlyingServiceLimitsStore" />
    <constructor-arg ref="hazelcastCacheProvider" />
  </bean>

  <!--
    ===========
      Scan Reporting
    ===========
  -->

  <bean id="scanActivityStore" class="net.lshift.diffa.kernel.scanning.JooqScanActivityStore">
    <constructor-arg ref="jooqDatabaseFacade" />
  </bean>

  <!--
    ===========
      User Preferences
    ===========
  -->

  <bean id="userPreferencesStore" class="net.lshift.diffa.kernel.preferences.JooqUserPreferencesStore">
    <constructor-arg ref="jooqDatabaseFacade" />
    <constructor-arg ref="hazelcastCacheProvider" />
  </bean>

  <!-- register user preferences store as an event listener of the domain config store -->
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="domainConfigStore" />
    <property name="targetMethod" value="registerPairEventListener" />
    <property name="arguments">
      <list>
        <ref bean="userPreferencesStore"/>
      </list>
    </property>
  </bean>

  <!-- register user preferences store as an event listener of the system config store -->
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="underlyingConfigStore" />
    <property name="targetMethod" value="registerDomainEventListener" />
    <property name="arguments">
      <list>
        <ref bean="userPreferencesStore"/>
      </list>
    </property>
  </bean>

  <!--
    ===========
      Credentials
    ===========
  -->

  <bean id="domainCredentialsStore" class="net.lshift.diffa.kernel.config.JooqDomainCredentialsStore">
    <constructor-arg ref="jooqDatabaseFacade" />
  </bean>

  <!--
    ===========
      Indexing
    ===========
  -->

  <bean id="versionCorrelationStoreFactory" class="net.lshift.diffa.kernel.indexing.LuceneVersionCorrelationStoreFactory"
        destroy-method="close">
    <constructor-arg>
      <bean class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/diffaIndexDir"/>
      </bean>
    </constructor-arg>
    <constructor-arg ref="systemConfigStore" />
    <constructor-arg ref="domainConfigStore" />
    <constructor-arg ref="diagnosticsManager" />
  </bean>

  <!--
    ===========
      Diagnostics
    ===========
  -->

  <bean id="diagnosticsManager" class="net.lshift.diffa.kernel.diag.LocalDiagnosticsManager">
    <constructor-arg ref="systemConfigStore" />
    <constructor-arg ref="domainConfigStore" />
    <constructor-arg ref="serviceLimitsStore" />
    <constructor-arg>
      <bean class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/diffaExplainDir"/>
      </bean>
    </constructor-arg>
  </bean>

  <!--
    ==============================
      Message handling
    ==============================
  -->

  <!-- register inbound AMQP support -->
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="inboundEndpointManager" />
    <property name="targetMethod" value="registerFactory" />
    <property name="arguments">
      <list>
        <bean class="net.lshift.diffa.agent.amqp.AmqpInboundEndpointFactory">
          <constructor-arg ref="changesFrontend" />
        </bean>
      </list>
    </property>
  </bean>

  <!-- register REST client support for participants -->
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="participantFactory" />
    <property name="targetMethod" value="registerScanningFactory" />
    <property name="arguments">
      <list>
        <bean class="net.lshift.diffa.client.ScanningParticipantRestClientFactory">
          <constructor-arg ref="domainCredentialsStore" />
          <constructor-arg ref="serviceLimitsStore" />
        </bean>
      </list>
    </property>
  </bean>
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="participantFactory" />
    <property name="targetMethod" value="registerContentFactory" />
    <property name="arguments">
      <list>
        <bean class="net.lshift.diffa.client.ContentParticipantRestClientFactory">
          <constructor-arg ref="domainCredentialsStore" />
          <constructor-arg ref="serviceLimitsStore" />
        </bean>
      </list>
    </property>
  </bean>
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="participantFactory" />
    <property name="targetMethod" value="registerVersioningFactory" />
    <property name="arguments">
      <list>
        <bean class="net.lshift.diffa.client.VersioningParticipantRestClientFactory">
          <constructor-arg ref="domainCredentialsStore" />
          <constructor-arg ref="serviceLimitsStore" />
        </bean>
      </list>
    </property>
  </bean>

  <!--
      ========
        Boot the REST proxy
      ========
    -->
  <import resource="RESTful-context.xml"/>

</beans>
