<?xml version="1.0" encoding="UTF-8"?>

<!--

    Copyright (C) 2011 LShift Ltd.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

  <http use-expressions="true" auto-config="false" entry-point-ref="loginUrlAuthenticationEntryPoint" >
    <custom-filter ref="tokenFilter" before="FORM_LOGIN_FILTER" />
    <custom-filter ref="authFormFilter" position="FORM_LOGIN_FILTER" />
    <http-basic />

    <!-- Allow the status page and UI resources to be seen by anyone -->
    <intercept-url pattern="/status" access="permitAll" />
    <intercept-url pattern="/less/**" access="permitAll" />
    <intercept-url pattern="/css/**" access="permitAll" />
    <intercept-url pattern="/js/**" access="permitAll" />
    <intercept-url pattern="/images/**" access="permitAll" />
    <intercept-url pattern="/assets/**" access="permitAll" />
    <intercept-url pattern="/**/*.html" access="permitAll" />
    <!-- 
	As an aside, with the SavedRequestAwareAuthenticationSuccessHandler, the
	auth/auth system will remember the last URL requested, and redirect back to
	the remembered URL once the user has successfully authenticated. This
	includes resources such as stylesheets and favicons too; so without this, the
	first time a user logs in with a fresh browser session, the user would
	sometimes be redirected to the favicon.
    -->
    <intercept-url pattern="/favicon.ico" access="permitAll" />

    <!-- All operations within the interface require a user role -->
    <intercept-url pattern="/**" access="hasRole('user')" />
  </http>

  <beans:bean id="loginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
    <beans:property name="loginFormUrl" value="/login.html"/>
  </beans:bean>

  <beans:bean id="authFormFilter" class="net.lshift.diffa.agent.auth.FormAuthenticationFilter">
    <beans:property name="authenticationManager" ref="authenticationManager"/>
    <beans:property name="authenticationFailureHandler" ref="failureHandler"/>
    <beans:property name="authenticationSuccessHandler" ref="successHandler"/>
  </beans:bean>

  <beans:bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
    <beans:property name="alwaysUseDefaultTargetUrl" value="true"/>
    <beans:property name="defaultTargetUrl" value="/index.html"/>
  </beans:bean>

  <beans:bean id="failureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
    <beans:property name="defaultFailureUrl" value="/login.html?login_error=true"/>
  </beans:bean>

  <beans:bean id="tokenFilter" class="net.lshift.diffa.agent.auth.SimpleTokenAuthenticationFilter">
    <beans:constructor-arg ref="authenticationManager" />
  </beans:bean>

  <beans:bean id="encoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
    <beans:constructor-arg value="256"/>
  </beans:bean>

  <beans:bean id="userDetailsProvider" class="net.lshift.diffa.agent.auth.UserDetailsAdapter">
    <beans:constructor-arg ref="systemConfigStore" />
  </beans:bean>

  <beans:bean id="externalProviderSwitch" class="net.lshift.diffa.agent.auth.ExternalAuthenticationProviderSwitch">
    <beans:constructor-arg ref="systemConfigStore" />
  </beans:bean>

  <beans:bean id="tokenAuthenticationProvider" class="net.lshift.diffa.agent.auth.SimpleTokenAuthenticationProvider">
    <beans:constructor-arg ref="userDetailsProvider" />
  </beans:bean>

  <authentication-manager alias="authenticationManager">
    <authentication-provider user-service-ref="userDetailsProvider">
      <password-encoder ref="encoder"/>
    </authentication-provider>
    <authentication-provider ref="externalProviderSwitch" />
    <authentication-provider ref="tokenAuthenticationProvider" />
  </authentication-manager>

  <global-method-security pre-post-annotations="enabled">
    <expression-handler ref="expressionHandler"/>
  </global-method-security>

   <beans:bean id="expressionHandler"
      class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <beans:property name="permissionEvaluator" ref="userDetailsProvider"/>
  </beans:bean>
</beans:beans>
