<h2>Upload an Inventory</h2>
<div class="inventory-selection">
  <p>Select a pair or an individual endpoint.</p>
  <span class="pair-selection"></span>
  <span class="endpoint-selection"></span>
</div>
<div class="diffa-inventory-uploader diffa-inventory-uploader-single"></div>
<div class="diffa-inventory-uploader diffa-inventory-uploader-pair" data-pair-half="upstream"></div>
<div class="diffa-inventory-uploader diffa-inventory-uploader-pair" data-pair-half="downstream"></div>