<h4 class="endpoint-heading"><%= endpointDescription %>: <span class="endpoint-name"><%= name %></span></h4>
<div class="status" style="display:none"></div>
<form>
  <div class="constraints">

  </div>

  <br>
  <h5>CSV file</h5>
  <label>File to upload:</label>
  <input type="file" name="inventory" class="fileSelector">
  <br>

  <input class="inventory_submit" type="submit" value="Upload">
</form>