<div class="status" style="display:none"></div>
<form>
  <input type="file" name="inventory" class="fileSelector">

  Endpoint: <select name="endpoint"></select>

  <div class="constraints">

  </div>

  <input type="submit" value="Upload">
</form>