<h4>Endpoints</h4>
<span class="none-message">No endpoints configured</span>
<ul class="element-list"></ul>
<span class="loading"><img src="<%= API_BASE %>/images/busy.gif"/></span>
<a id="addEndpoint" href="#endpoint" class="add-element">Add New</a>