<tr>
  <td>
    <input data-bind-value="view.name" type="text"><br>
    <a href="javascript:" class="remove-view">Remove</a>
  </td>
  <td>
    <dl>
      <dt>Range Categories</dt>
      <dd class="range-categories">
        <table class="editable-table" data-template="range-category">
          <thead><tr><td>Name</td><td>Data Type</td><td>Lower</td><td>Upper</td><td>Actions</td></tr></thead>
        </table>
        <a class="add-link" href="">Add New</a>
      </dd>
      <dt>Set Categories</dt>
      <dd class="set-categories">
        <table class="editable-table" data-template="set-category">
          <thead><tr><td>Name</td><td>Values</td><td>Actions</td></tr></thead>
        </table>
        <a class="add-link" href="">Add New</a>
      </dd>
      <dt>Prefix Categories</dt>
      <dd class="prefix-categories">
        <table class="editable-table" data-template="prefix-category">
          <thead><tr><td>Name</td><td>Prefix Length</td><td>Max Length</td><td>Step</td><td>Actions</td></tr></thead>
        </table>
        <a class="add-link" href="">Add New</a>
      </dd>
    </dl>
  </td>
</tr>