<div class="error"></div>
<div class="pane" data-pane="root">
  <dl>
    <dt>Key:</dt><dd class="name-container"><input data-bind-value="pair.key" type="text"><span data-bind-text="pair.key"></span></dd>
    <dt>Version Policy:</dt><dd>
      <select data-bind-value="pair.versionPolicyName">
        <option value="same">Same</option>
        <option value="correlated">Correlated</option>
      </select>
    </dd>
    <dt>Upstream:</dt><dd><select class="endpoint-selection" data-bind-value="pair.upstreamName"></select></dd>
    <dt>Downstream:</dt><dd><select class="endpoint-selection" data-bind-value="pair.downstreamName"></select></dd>
    <dt>Matching Timeout:</dt><dd><input data-bind-value="pair.matchingTimeout" type="number"></dd>
  </dl>

  <h4>Features</h4>
  <table class="feature-table">
    <tr data-target-pane="scanning"><td class="key">Scanning</td><td class="description" data-bind-text="pair | scanningStatus"></td></tr>
    <tr data-target-pane="views"><td class="key">Views</td><td class="description" data-bind-text="pair | viewsStatus">No views configured</td></tr>
    <tr data-target-pane="repairs"><td class="key">Repairs</td><td class="description" data-bind-text="pair | repairActionsStatus">No repair operations defined</td></tr>
    <tr data-target-pane="reports"><td class="key">Reports</td><td class="description" data-bind-text="pair | reportsStatus">No escalations defined</td></tr>
    <tr data-target-pane="escalations"><td class="key">Escalations</td><td class="description" data-bind-text="pair | escalationsStatus">No escalations defined</td></tr>
  </table>
</div>
<div class="pane" data-pane="scanning">
  <dl>
    <dt>Allow Manual Scans:</dt><dd>
      <input data-bind-checked="pair.allowManualScans" type="checkbox" id="allowPairManualScans">
      <label for="allowPairManualScans">Allow Manual Scans</label>
    </dd>
    <dt>Scan Cron Specification:</dt><dd>
      <input data-bind-value="pair.scanCronSpec" type="text">
      <input data-bind-checked="pair.scanCronEnabled" type="checkbox" checked="checked">
      <label for="scanCronEnabled">Enabled</label>
    </dd>
  </dl>
</div>
<div class="pane" data-pane="views">
  <div class="views">
    <table class="editable-table" data-template="pair-view">
      <thead><tr><td>Name</td><td>View Scan Cron Specification</td><td>Actions</td></tr></thead>
    </table>
    <a class="add-link" href="">Add New</a>
  </div>
</div>
<div class="pane" data-pane="repairs">
  <div class="repair-actions">
    <table class="editable-table" data-template="repair-action">
      <thead><tr><td>Name</td><td>Url</td><td>Scope</td><td>Actions</td></tr></thead>
    </table>
    <a class="add-link" href="">Add New</a>
  </div>
</div>
<div class="pane" data-pane="escalations">
  <div class="escalations">
    <table class="editable-table" data-template="escalation">
      <thead><tr><td>Name</td><td>Type</td><td>Action</td><td>Event</td><td>Origin</td><td>Actions</td></tr></thead>
    </table>
    <a class="add-link" href="">Add New</a>
  </div>
</div>
<div class="pane" data-pane="reports">
  <div class="reports">
    <table class="editable-table" data-template="report">
      <thead><tr><td>Name</td><td>Type</td><td>Target</td><td>Actions</td></tr></thead>
    </table>
    <a class="add-link" href="">Add New</a>
  </div>
</div>

<dl>
  <dd class="controls"><button class="save">Save</button> <button class="delete">Delete</button></dd>
</dl>