<tr>
  <td><input data-el-key="name" type="text"></td>
  <td>
    <input data-el-key="scanCronSpec" type="text">
    <input data-el-key="scanCronEnabled" type="checkbox" checked="checked">
    <label for="scanCronEnabled">Enabled</label>
  </td>
  <td><a href="javascript:" class="remove-view">Remove</a></td>
</tr>