<h4>Pairs</h4>
<span class="none-message">No pairs configured</span>
<span class="loading"><img src="images/busy.gif"/></span>
<ul class="element-list"></ul>
<a id="addPair" href="#pair" class="add-element">Add New</a>