<tr>
  <td><input data-bind-value="view.name" type="text"></td>
  <td>
    <input data-bind-value="view.scanCronSpec" type="text">
    <input data-bind-checked="view.scanCronEnabled" type="checkbox" checked="checked">
    <label for="scanCronEnabled">Enabled</label>
  </td>
  <td><a href="javascript:" class="remove-view">Remove</a></td>
</tr>