<tr>
  <td><input data-el-key="name" type="text"></td>
  <td><input data-el-key="prefixLength" type="text"></td>
  <td><input data-el-key="maxLength" type="text"></td>
  <td><input data-el-key="step" type="text"></td>
  <td><a href="javascript:" class="remove-category">Remove</a></td>
</tr>