<tr>
  <td><input data-bind-value="category.name" type="text"></td>
  <td><input data-bind-value="category.prefixLength" type="text"></td>
  <td><input data-bind-value="category.maxLength" type="text"></td>
  <td><input data-bind-value="category.step" type="text"></td>
  <td><a href="javascript:" class="remove-category">Remove</a></td>
</tr>