<tr>
  <td><input data-el-key="name" type="text"></td>
  <td><input data-el-key="dataType" type="text"></td>
  <td><input data-el-key="lower" type="text"></td>
  <td><input data-el-key="upper" type="text"></td>
  <td><a href="javascript:" class="remove-category">Remove</a></td>
</tr>