<tr>
  <td><input data-bind-value="category.name" type="text"></td>
  <td>
    <select data-bind-value="category.dataType">
      <option value="date">Date</option>
      <option value="datetime">Date & Time</option>
      <option value="int">Integer</option>
    </select>
  </td>
  <td><input data-bind-value="category.lower" type="text"></td>
  <td><input data-bind-value="category.upper" type="text"></td>
  <td><a href="javascript:" class="remove-category">Remove</a></td>
</tr>