<tr>
  <td><input data-el-key="name" type="text"></td>
  <td>
    <select data-el-key="dataType">
      <option value="date">Date</option>
      <option value="datetime">Date & Time</option>
      <option value="int">Integer</option>
    </select>
  </td>
  <td><input data-el-key="lower" type="text"></td>
  <td><input data-el-key="upper" type="text"></td>
  <td><a href="javascript:" class="remove-category">Remove</a></td>
</tr>