<tr>
  <td><input data-bind-value="report.name" type="text"></td>
  <td>
    <select data-bind-value="report.reportType">
      <option value="differences">Differences</option>
    </select>
  </td>
  <td><input data-bind-value="report.target" type="text"></td>
  <td><a href="javascript:" class="remove-report">Remove</a></td>
</tr>