/* Define all of the colors used throughout */
@yellow-background: #FFF2CC;
@background-grey: #757575;
@text-grey: #545454;
@link-orange: #fca961;
@light-grey-background: #edece1;
@bright-yellow: #FFFD94;
@dark-text: #333;
@light-border: #ccc;

@min-line-height: 18px;

@small-font-size: 0.85em;

/* The column width and right margin are taken from Blueprint's definitions */
@column-width: 30px;
@right-margin: 10px;
@border-thickness: 1px;
@text-padding: 0 5px;

/* Shave the width of an 9 column wide area that needs to fit the border in */
@content-viwer-width: 8 * (@column-width + @right-margin) + @column-width - 2 * @border-thickness;
@content-viewer-height: 150px;

@dotted-border: @border-thickness dotted silver;

/* Common border definition */
.top-and-bottom-borders {
  min-height: @min-line-height;
  border-bottom: @dotted-border;
  border-top: @dotted-border;
}

// DIFF LIST

/* Wrap long items in columns */
div.wrappable {
  word-wrap: break-word;
}

/* Highlight the currently selected row in the diff list*/
div.specific_selected {
  background-color: @yellow-background;
}

#difflist-header {
  .top-and-bottom-borders;
  font-weight: bold;
  text-transform: uppercase;
}

#difflist-row {
  cursor: pointer;
  font-size: @small-font-size;
}

#navigation {
  .top-and-bottom-borders;
}

#next {
  text-align: right;
}

#pagecount {
  text-align: center;
}

// CONTENT VIEWER

div.section-label {
  background-color: @yellow-background;
  padding: @text-padding;
}

div.endpoint-label {
  background-color: @background-grey;
  color: white;
  padding: @text-padding;
}

#contentviewer {
  border: @dotted-border;
  width: @content-viwer-width;
}

div.diff-set {
  width: @content-viwer-width;
  height: @content-viewer-height;
}

div.diff-repair {
  width: @content-viwer-width;
  min-height: @content-viewer-height / 1.5;
}

div.action-item {
  padding: 0 0 10px 10px;
}

div.diffHash {
  background-color: @light-grey-background;
  // Add the height of 1 row as the minimum height so that an empty div will be colored in correctly
  min-height: @min-line-height;
}

#contentviewer pre {
  font-size: @small-font-size;
  font-family: lucida mono, monospace, andale mono;
  max-height: @content-viewer-height - @min-line-height - 10;
  max-width: 100%;
  display: block;
  overflow: auto;
  white-space: pre;
  padding: 5px;
  margin: 0;
}

#repairstatus {
  font-style: italic;
}

// GENERAL BODY WORK

body {
  font-family: andale mono, courier new, courier, mono;
  color: @text-grey;
}

/* This was the original sizing, preserving it for consistency's sake */
h1 {
  font-size: 2.25em;      /* 31.5px */
  line-height: 1.333em;   /* ie. 42px, seven 6px increments */
  margin-bottom: 0.381em; /* ie 12px */
}

a {
	color: @link-orange;
	text-decoration: underline;
}

button.repair {
  color: @dark-text;
  background-color: @bright-yellow;
  margin: 10px 5px 0 0;
  border: 1px solid @light-border;
  cursor: pointer;
}