/* Define all of the colors used throughout */
@yellow-background: #FFF2CC;
@background-grey: #757575;
@text-grey: #545454;
@link-orange: #fca961;
@light-grey-background: #edece1;
@bright-yellow: #FFFD94;
@dark-text: #333;
@light-border: #ccc;

/* The column width and right margin are taken from Blueprint's definitions */
@column-width: 30px;
@right-margin: 10px;
@border-thickness: 1px;
@text-padding: 0 5px;

/* Shave the width of an 9 column wide area that needs to fit the border in */
@content-viwer-width: 8 * (@column-width + @right-margin) + @column-width - 2 * @border-thickness;

/* Wrap long items in columns */
div.wrappable {
  word-wrap: break-word;
}

/* Highlight the currently selected row in the diff list*/
div.specific_selected {
  background-color: @yellow-background;
}

div.section-label {
  background-color: @yellow-background;
  padding: @text-padding;
}

div.endpoint-label {
  background-color: @background-grey;
  color: white;
  padding: @text-padding;
}

#contentviewer {
  border: @border-thickness dotted silver;
  width: @content-viwer-width;
}

div.diff-set {
  width: @content-viwer-width;
  height: 150px;
}

div.diff-repair {
  width: @content-viwer-width;
  min-height: 100px;
}

div.action-item {
  padding: 0 0 10px 10px;
}

div.diffHash {
  background-color: @light-grey-background;
  // Add the height of 1 row as the minimum height so that an empty div will be colored in correctly
  min-height: 18px;
}

div.code-box {
  padding: @text-padding;
}

/* General body work*/

body {
  font-family: andale mono, courier new, courier, mono;
  color: @text-grey;
}

/* This was the original sizing, preserving it for consistency's sake */
h1 {
  font-size: 2.25em;      /* 31.5px */
  line-height: 1.333em;   /* ie. 42px, seven 6px increments */
  margin-bottom: 0.381em; /* ie 12px */
}

a {
	color: @link-orange;
	text-decoration: underline;
}

button.repair {
  color: @dark-text;
  background-color: @bright-yellow;
  margin: 10px 5px 0 0;
  border: 1px solid @light-border;
  cursor: pointer;
}