<!--

    Copyright (C) 2010-2011 LShift Ltd.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-2.0.1.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="properties">
      <bean class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/demoProperties"/>
      </bean>
    </property>
  </bean>

  <bean id="configUploader" lazy-init="true" class="net.lshift.diffa.util.ConfigUploader">
    <constructor-arg value="${demo.agentUrl}/rest/domains/${demo.domain}/config/xml"/>
    <constructor-arg value="${demo.agentUser}"/>
    <constructor-arg value="${demo.agentPassword}"/>
    <constructor-arg>
      <bean class="org.apache.http.entity.FileEntity">
        <constructor-arg value="classpath:diffa-config.xml"/>
        <constructor-arg value="application/xml"/>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="upstreamPart" class="net.lshift.diffa.participants.UpstreamWebParticipant">
    <constructor-arg value="a" />
    <constructor-arg value="${demo.agentUrl}" />
    <constructor-arg value="${demo.domain}" />
  </bean>
  <bean id="downstreamPart" class="net.lshift.diffa.participants.DownstreamWebParticipant">
    <constructor-arg value="b" />
    <constructor-arg value="${demo.agentUrl}" />
    <constructor-arg value="${demo.domain}" />
  </bean>

  <bean id="upstreamContentHandler" class="net.lshift.diffa.participant.content.ContentParticipantDelegator">
    <constructor-arg ref="upstreamPart"/>
  </bean>

  <bean id="downstreamContentHandler" class="net.lshift.diffa.participant.content.ContentParticipantDelegator">
    <constructor-arg ref="downstreamPart"/>
  </bean>
  <bean id="downstreamVersionHandler" class="net.lshift.diffa.participant.correlation.VersioningParticipantDelegator">
    <constructor-arg ref="downstreamPart"/>
  </bean>
</beans>